<h2 class="woocommerce-order-details__title" style="display: flex;gap: 1rem"><img src="{icon}" alt="{title}" width="50"> <span>{title}</span></h2>
<table class="woocommerce-table woocommerce-table--order-details shop_table order_details">
    <tbody>
        <tr>
            <th>_lang(result)</th>
            <td>{result}</td>
        </tr>
        <tr>
            <th>_lang(payment_id)</th>
            <td>{payment_id}</td>
        </tr>
        <tr>
            <th>_lang(track_id)</th>
            <td>{track_id}</td>
        </tr>
        <tr>
            <th>_lang(trnac_id)</th>
            <td>{tran_id}</td>
        </tr>
        <tr>
            <th>_lang(amount)</th>
            <td>{amount} KD</td>
        </tr>
        <tr>
            <th>_lang(ref_id)</th>
            <td>{ref_id}</td>
        </tr>
        <tr>
            <th>_lang(pay_id)</th>
            <td>{pay_id}</td>
        </tr>
        <tr>
            <th>_lang(created_at)</th>
            <td>{created_at}</td>
        </tr>
    </tbody>
</table>